In [1]:
"|IMPORT PACKAGES|"
import pandas             as pd
from   bokeh.plotting     import show, figure, output_file, save
from   bokeh.io           import show, output_notebook, curdoc, export_png
from   bokeh.models       import LinearAxis, Range1d, ColumnDataSource, Label
from   bokeh.models.tools import HoverTool
from   bokeh.transform    import dodge

In [2]:
"|IMPORT DATA|"
path = r'https://github.com/ncachanosky/research/blob/master/Economic%20Series/'
file = r'Resumen%20Estadistico%20-%20Argentina.xlsx?raw=true'

IO   = path + file

sheet = "MADDISON (CGDP)"

data = pd.read_excel(IO, sheet_name = sheet, skiprows=2, engine='openpyxl')

In [3]:
"|CHECK DATA|"
data

,year,AFG,AGO,ALB,ARE,ARG,ARM,AUS,AUT,AZE,...,URY.1,USA.1,UZB.1,VEN.1,VNM.1,YEM.1,YUG.1,ZAF.1,ZMB.1,ZWE.1
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,730.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1280.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,2015.0,1928.0,8631.0,10947.0,69237.0,19316.0,9552.0,44336.0,44845.0,16045.0,...,0.654,0.952,0.398,0.613,0.303,0.160,0.601,0.511,0.232,0.113
740,2016.0,1929.0,8397.0,11285.0,70284.0,18695.0,9588.0,44783.0,45010.0,15296.0,...,0.660,0.951,0.400,0.521,0.296,0.145,0.606,0.496,0.212,0.103
741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.884,1.000,NaN,0.762,0.143,0.194,0.294,0.856,0.187,0.496
743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.224,-0.049,NaN,-0.241,0.153,-0.049,0.312,-0.360,0.025,-0.393

In [18]:

"|BUILD PLOT|"

cds = ColumnDataSource(data)
#BUILD FIGURE
p = figure(title        = "EL HUB ECONÓMICO | PBI PER CAPITA REAL LATAM",
           y_axis_label = "PBI PER CAPITA (2011) ",
           x_range      = (1850, 2016),
           plot_height  = 400,
           plot_width   = 700)

p.toolbar_location = 'right'
p.toolbar.autohide = True


#AXIS 1 (LEFT)
p.line('year', 'ARG', color='blue' , width=2, alpha=0.75, muted_alpha=0.2, legend_label='Argentina', source=cds)
p.line('year', 'CHL', color='red'  , width=2, alpha=0.75, muted_alpha=0.2, legend_label='Chile'    , source=cds)
p.line('year', 'BOL', color='black' , width=2, alpha=0.75, muted_alpha=0.2, legend_label='Bolivia', source=cds)
p.line('year', 'BRA', color='green' , width=2, alpha=0.75, muted_alpha=0.2, legend_label='Brasil', source=cds)
p.line('year', 'URY', color='lightblue' , width=2, alpha=0.75, muted_alpha=0.2, legend_label='Uruguay', source=cds)
p.line('year', 'VEN', color='gold' , width=2, alpha=0.75, muted_alpha=0.2, legend_label='Venezuela', source=cds)


p.legend.location     = 'top_left'
p.legend.orientation  = 'vertical'
p.legend.click_policy = 'mute'

show(p)