In [1]:
"|IMPORT PACKAGES|"
import pandas             as pd
from   bokeh.plotting     import show, figure, output_file, save
from   bokeh.io           import show, output_notebook, curdoc, export_png
from   bokeh.models       import ColumnDataSource,LinearAxis, Range1d, NumeralTickFormatter, LabelSet, Label, BoxAnnotation
from   bokeh.models.tools import HoverTool

In [2]:
"|IMPORT DATA|"
path = r'https://github.com/ncachanosky/research/blob/master/Economic%20Series/'
file = r'Resumen%20Estadistico%20-%20Argentina.xlsx?raw=true'
IO   = path + file

sheet = 'ANUAL'

data = pd.read_excel(IO, sheet_name = sheet, usecols="B,AP, DL", skiprows=2, nrows=28, engine='openpyxl') # Be patient...

data = data.rename(columns={"IPC-Congreso":"IPC"})
data["YEAR"] = data["YEAR"].dt.year

In [3]:
"|CHECK DATA|"
data.head(10)

   YEAR       IPC   GASTOS
0  1993       NaN      NaN
1  1994       NaN      NaN
2  1995       NaN      NaN
3  1996       NaN      NaN
4  1997       NaN      NaN
5  1998  48.57508  53921.1
6  1999  47.69565  53963.2
7  2000  47.34766  52748.6
8  2001  46.61541  48999.3
9  2002  65.70280  52823.0

In [4]:
"|CALCULATE NEEDED DATA|"
data["GASTOS_REAL"] = data["GASTOS"] / data["IPC"] * data.iloc[9,1]
data["GASTOS_100"]  = data["GASTOS_REAL"].div(data.iloc[9,3]) * 100
data

    YEAR          IPC      GASTOS    GASTOS_REAL  GASTOS_100
0   1993          NaN         NaN            NaN         NaN
1   1994          NaN         NaN            NaN         NaN
2   1995          NaN         NaN            NaN         NaN
3   1996          NaN         NaN            NaN         NaN
4   1997          NaN         NaN            NaN         NaN
5   1998    48.575080    53921.10   72933.842807  138.072133
6   1999    47.695650    53963.20   74336.618475  140.727748
7   2000    47.347660    52748.60   73197.507883  138.571281
8   2001    46.615410    48999.30   69062.810089  130.743824
9   2002    65.702800    52823.00   52823.000000  100.000000
10  2003    68.108200    68526.40   66106.230291  125.146679
11  2004    72.260600    87745.20   79782.140289  151.036746
12  2005    81.169600   106765.10   86421.098691  163.605056
13  2006    89.155900   135356.31   99749.860241  188.837931
14  2007   112.057949   138355.32   81121.705255  153.572696
15  2008   137.823588   186605.70   88958.045507  168.407787
16  2009   158.240739   242928.62  100865.874424  190.950674
17  2010   198.300880   325373.70  107805.689700  204.088540
18  2011   243.468477   429922.60  116019.613386  219.638440
19  2012   305.008343   554775.53  119505.930062  226.238438
20  2013   391.628183   740393.30  124214.535793  235.152369
21  2014   541.720599  1061780.99  128778.533005  243.792539
22  2015   692.104719  1427989.50  135561.723361  256.633897
23  2016   973.873408  1972834.30  133098.138241  251.970048
24  2017  1213.322658  2402204.70  130082.112934  246.260366
25  2018  1791.290851  2939546.90  107819.711130  204.115085
26  2019  2758.155497  4032152.80   96051.049079  181.835657
27  2020          NaN  6589888.14            NaN         NaN

In [5]:
data["PCT"] = data["GASTOS_100"].pct_change(axis=0) * 100
data

    YEAR          IPC      GASTOS    GASTOS_REAL  GASTOS_100        PCT
0   1993          NaN         NaN            NaN         NaN        NaN
1   1994          NaN         NaN            NaN         NaN        NaN
2   1995          NaN         NaN            NaN         NaN        NaN
3   1996          NaN         NaN            NaN         NaN        NaN
4   1997          NaN         NaN            NaN         NaN        NaN
5   1998    48.575080    53921.10   72933.842807  138.072133        NaN
6   1999    47.695650    53963.20   74336.618475  140.727748   1.923354
7   2000    47.347660    52748.60   73197.507883  138.571281  -1.532368
8   2001    46.615410    48999.30   69062.810089  130.743824  -5.648687
9   2002    65.702800    52823.00   52823.000000  100.000000 -23.514552
10  2003    68.108200    68526.40   66106.230291  125.146679  25.146679
11  2004    72.260600    87745.20   79782.140289  151.036746  20.687778
12  2005    81.169600   106765.10   86421.098691  163.605056   8.321359
13  2006    89.155900   135356.31   99749.860241  188.837931  15.423041
14  2007   112.057949   138355.32   81121.705255  153.572696 -18.674868
15  2008   137.823588   186605.70   88958.045507  168.407787   9.659980
16  2009   158.240739   242928.62  100865.874424  190.950674  13.385893
17  2010   198.300880   325373.70  107805.689700  204.088540   6.880241
18  2011   243.468477   429922.60  116019.613386  219.638440   7.619193
19  2012   305.008343   554775.53  119505.930062  226.238438   3.004937
20  2013   391.628183   740393.30  124214.535793  235.152369   3.940060
21  2014   541.720599  1061780.99  128778.533005  243.792539   3.674286
22  2015   692.104719  1427989.50  135561.723361  256.633897   5.267330
23  2016   973.873408  1972834.30  133098.138241  251.970048  -1.817316
24  2017  1213.322658  2402204.70  130082.112934  246.260366  -2.266016
25  2018  1791.290851  2939546.90  107819.711130  204.115085 -17.114115
26  2019  2758.155497  4032152.80   96051.049079  181.835657 -10.915130
27  2020          NaN  6589888.14            NaN         NaN   0.000000

In [9]:
"|BUILD PLOT|"

cds = ColumnDataSource(data)

#BUILD FIGURE
p = figure(title = "GASTO DEL TESORO NACIONAL (PESOS DEL 2002 | 2002 = 100)",
           y_range      = (-30, 30),
           x_range      = (1998, 2020),
           x_axis_label = "Año",
           y_axis_label = "Cambio porcentual", 
           plot_height  = 400,
           plot_width   = 700)

p.toolbar_location = "above"
p.toolbar.autohide = True
p.add_tools(HoverTool(tooltips = [("Año", "@YEAR"), ("Índice (2002=100)", "@GASTOS_100"), ("Cambio %", "@PCT")]))

#AXIS 1 (LEFT)
p.vbar("YEAR", top="PCT", color="blue", fill_alpha=0.50, width=0.50, legend_label="Cambio %", muted_alpha=0.20, source=cds)

#AXIS 2 (RIGHT)
p.extra_y_ranges = {"y2": Range1d(start=0, end=300)}
p.add_layout(LinearAxis(y_range_name = "y2", axis_label = "2002 = 100"), "right")
p.line("YEAR", "GASTOS_100", color="red", line_width=2, alpha=0.50, y_range_name = "y2", legend_label="2002 = 100", muted_alpha=0.20, source=cds)
p.circle('YEAR', 'GASTOS_100', color="red", y_range_name = "y2", muted_alpha=0.20, source=cds, size=7)

#LEGEND
p.legend.location     = "top_left"
p.legend.orientation  = "horizontal"
p.legend.click_policy = "mute"
show(p)

In [ ]:
"|EXPORT .PNG FILE|"

export_png(p, filename="gasto_tesoro_100.png")

In [ ]:
"|# CREATE HTML FILE|"

output_file(filename="gasto_tesoro_100.html", title="Fiscal deficit")
save(p)

In [8]:
"|CREATE JSON FILE|"
import json
import bokeh.embed

from bokeh.embed import json_item

j = json.dumps(json_item(p, "gasto_tesoro_100"))
with open("gasto_tesoro_100.json", "w") as fp:
    json.dump(j, fp)