In [64]:
"|IMPORT PACKAGES|"
import numpy              as np
import pandas             as pd
import datetime
from   bokeh.plotting     import show, figure, output_file, save
from   bokeh.io           import show, output_notebook, curdoc, export_png
from   bokeh.models       import ColumnDataSource,LinearAxis, Range1d, NumeralTickFormatter, LabelSet, Label, BoxAnnotation, DatetimeTickFormatter, Text, Span
from   bokeh.models.tools import HoverTool
from   bokeh.models       import Arrow, NormalHead, OpenHead, VeeHead
from   bokeh.transform    import dodge
from   datetime           import datetime as dt

In [65]:
"|IMPORT DATA|"
path = r'https://github.com/ncachanosky/research/blob/master/Economic%20Series/'
file = r'Resumen%20Estadistico%20-%20Argentina.xlsx?raw=true'
IO   = path + file

sheet = 'BCRA'

data = pd.read_excel(IO, sheet_name = sheet, usecols="A, W, Y, AG", skiprows=1, nrows=1112, engine='openpyxl') # Be patient...

data = data.rename(columns={"Fechas"             :"WEEK"})
data = data.rename(columns={"Reservas (USD)"     :"RESERVAS"})
data = data.rename(columns={"Reservas Netas (I)" :"NETAS1"})
data = data.rename(columns={"Reservas Netas (II)":"NETAS2"})

data['RESERVAS'] = data['RESERVAS']/1000
data['NETAS1']   = data['NETAS1']  /1000
data['NETAS2']   = data['NETAS2']  /1000

In [66]:
"|CHECK DATA|"
data[350:400]

          WEEK      RESERVAS        NETAS1        NETAS2
350 2005-04-23  20785.018958  18421.206397   4634.030746
351 2005-04-30  20904.572135  18499.259603   4736.975938
352 2005-05-07  21144.488781  18324.149465   4565.814291
353 2005-05-15  21656.581400  18828.425849   5277.348108
354 2005-05-23  21864.612986  19155.014552   5831.394221
355 2005-05-31  22103.017280  19932.609343   6708.757489
356 2005-06-07  22298.711828  19872.437129   6616.170720
357 2005-06-15  22592.817142  20280.121696   7330.226655
358 2005-06-23  22900.013244  20976.843720   8311.360309
359 2005-06-30  23051.970043  21167.707209   8558.352705
360 2005-07-07  23300.436428  21389.484064   8855.976668
361 2005-07-15  23943.410901  22014.658630   9583.653040
362 2005-07-23  24668.176834  22804.762370  10350.553480
363 2005-07-31  25105.324507  23242.900307  10809.349937
364 2005-08-07  24624.281375  22502.794903   9924.786176
365 2005-08-15  25086.483692  23034.745663  10354.170715
366 2005-08-23  25103.717772  23104.944311  10675.589550
367 2005-08-31  25251.883779  23385.721056  11037.118178
368 2005-09-07  25715.348133  23894.823610  11377.550852
369 2005-09-15  25623.095148  23775.773016  11514.319218
370 2005-09-23  25506.916655  23633.065480  11734.610416
371 2005-09-30  25613.939914  23645.894936  11869.761030
372 2005-10-07  26104.640218  24167.859356  12358.432147
373 2005-10-15  26168.172790  24280.494548  12542.554269
374 2005-10-23  26040.444147  24177.953107  12555.795679
375 2005-10-31  26547.887497  24684.774895  13057.923381
376 2005-11-07  26319.576656  24416.491953  12909.197326
377 2005-11-15  26472.785323  24513.671194  13093.802960
378 2005-11-23  26546.241089  24627.110123  13306.008894
379 2005-11-30  26524.717673  24542.051791  13225.408778
380 2005-12-07  26705.067608  24721.831448  13433.303769
381 2005-12-15  26896.307999  24908.055879  13564.953268
382 2005-12-23  27946.893709  25835.268212  14906.203311
383 2005-12-31  28076.984991  25917.791192  15011.867722
384 2006-01-07  18735.517207  16665.260570  15228.017699
385 2006-01-15  18860.208833  16783.213405  15343.540632
386 2006-01-23  19084.485951  17000.918404  15549.828705
387 2006-01-31  19689.174528  17549.397787  16109.039070
388 2006-02-07  19879.607453  17642.983679  16212.272861
389 2006-02-15  19607.815493  17340.430647  15922.473451
390 2006-02-23  20283.100609  17983.764606  16591.803860
391 2006-02-28  20531.609932  18281.166037  16891.343075
392 2006-03-07  20708.918226  18495.240322  17107.288257
393 2006-03-15  20729.866254  18481.924504  17087.631956
394 2006-03-23  20956.080382  18652.582187  17253.763210
395 2006-03-31  21549.044404  19222.367891  17824.075889
396 2006-04-07  21708.440403  19346.419617  17942.944138
397 2006-04-15  21651.170621  19259.304192  17857.065973
398 2006-04-23  22007.313316  19691.485297  18278.990613
399 2006-04-30  22399.936264  20080.448781  18652.327683

In [67]:
"|BUILD PLOT|"

cds = ColumnDataSource(data)

text1  = Label(x=25, y=325, x_units='screen', y_units='screen', text_font_size="12px", text_color="darkslategrey",
               text="VARIACIÃ“N ANAUL")


#BUILD FIGURE
p = figure(title = "RESERVAS DEL BCRA (MILLONES DE US$)",
#           y_range      = (35, 1),
           x_axis_label = "",
           y_axis_label = "",
           x_axis_type  = "datetime",
           plot_height  = 400,
           plot_width   = 700)

p.toolbar_location = "above"
p.toolbar.autohide = True

#AXIS 1 (LEFT)
p1 = p.line('WEEK', 'RESERVAS', color='black', line_alpha=0.75, width=2, legend_label='Reservas brutas'  , muted_alpha=0.2, source=cds)
p2 = p.line('WEEK', 'NETAS1'  , color='blue' , line_alpha=0.75, width=2, legend_label='Reservas netas I' , muted_alpha=0.2, source=cds)
p3 = p.line('WEEK', 'NETAS2'  , color='red'  , line_alpha=0.75, width=2, legend_label='Reservas netas II', muted_alpha=0.2, source=cds)

p.add_tools(HoverTool(renderers=[p1], tooltips = [("Reservas Brutas"  , "@RESERVAS")], mode="vline"))
p.add_tools(HoverTool(renderers=[p2], tooltips = [("Reservas Netas I" , "@NETAS1")]  , mode="vline"))
p.add_tools(HoverTool(renderers=[p3], tooltips = [("Reservas Netas II", "@NETAS2")]  , mode="vline"))

#ADD NOTES
#cepo1_span = Span(location=dt(2011,10,23).timestamp()*1000, dimension='height', line_color='gray')
cepo1_text = Label(x=dt(2016, 6,31).timestamp()*1000, y=75000, text_font_size='12px', text_color='gray', text_align='right',
                  text='Inicio cepo cambiario')


cepo1 = BoxAnnotation(left=dt(2011,10,23).timestamp()*1000, right=dt(2015,12,31).timestamp()*1000, line_color='black', fill_color='gray', fill_alpha=0.1)
cepo2 = BoxAnnotation(left=dt(2019, 9,31).timestamp()*1000,                                        line_color='black', fill_color='gray', fill_alpha=0.1)



p.add_layout(cepo1)
p.add_layout(cepo1_text)

#ADD PRICE DUPLICATION MARKS
FMI_text = Label(x=dt(2005, 3,31).timestamp()*1000, y=45500, text_font_size='12px', text_color='gray', text_align='center',
                 text='Pago al FMI')
FMI_arrow = Arrow(end=VeeHead(line_color='gray', line_width=2, line_alpha=0.5, size=10, fill_color='gray', fill_alpha=0.75),
                  x_start=dt(2005, 3,31).timestamp()*1000, x_end=dt(2005,12,31).timestamp()*1000, y_start=45500, y_end=30000,
                  line_color='gray', line_alpha=0.5)

p.add_layout(FMI_text)
p.add_layout(FMI_arrow)

crisis1_text = Label(x=dt(2002, 2, 7).timestamp()*1000, y=25000, text_font_size='12px', text_color='gray', text_align='center',
                     text='$9.300M')
crisis1_arrow = Arrow(end=VeeHead(line_color='gray', line_width=2, line_alpha=0.5, size=10, fill_color='gray', fill_alpha=0.75),
                      x_start=dt(2002, 2, 7).timestamp()*1000, x_end=dt(2002,12,31).timestamp()*1000, y_start=25000, y_end=14000)

p.add_layout(crisis1_text)
p.add_layout(crisis1_arrow)

crisis2_text = Label(x=dt(2012, 6, 30).timestamp()*1000, y=52500, text_font_size='12px', text_color='gray', text_align='left',
                     text='$16.400M')
crisis2_arrow = Arrow(end=VeeHead(line_color='gray', line_width=2, line_alpha=0.5, size=10, fill_color='gray', fill_alpha=0.75),
                      x_start=dt(2012, 6,30).timestamp()*1000, x_end=dt(2014, 9,30).timestamp()*1000, y_start=52500, y_end=32000)

p.add_layout(crisis2_text)
p.add_layout(crisis2_arrow)




#LEGEND
h_axis = Span(location=0, dimension="width", line_color="black")
p.add_layout(h_axis)
p.xaxis[0].formatter = DatetimeTickFormatter(months='%b %Y')
p.yaxis[0].formatter = NumeralTickFormatter(format="$0,0")
p.legend.location     = "top_left"
p.legend.orientation  = "vertical"
p.legend.click_policy = "mute"
show(p)

In [ ]:
"|EXPORT .PNG FILE|"

export_png(p, filename="reservas.png")

In [ ]:
"|# CREATE HTML FILE|"

output_file(filename="reservas.html", title="Reservas del BCRA (millones de US$)")
save(p)

In [68]:
"|CREATE JSON FILE|"
import json
import bokeh.embed

from bokeh.embed import json_item

j = json.dumps(json_item(p, "reservas"))
with open("reservas.json", "w") as fp:
    json.dump(j, fp)