In [4]:
"|IMPORT PACKAGES|"
import pandas             as pd
import datetime
from   bokeh.plotting     import show, figure, output_file, save
from   bokeh.io           import show, output_notebook, curdoc, export_png
from   bokeh.models.tools import HoverTool
from   bokeh.models       import ColumnDataSource,LinearAxis, Range1d, NumeralTickFormatter, LabelSet, Label, BoxAnnotation, DatetimeTickFormatter, Text, Span
from   bokeh.models       import Arrow, NormalHead, OpenHead, VeeHead
from   bokeh.transform    import dodge
from   datetime           import datetime as dt

In [5]:
"|IMPORT DATA|"
path = r'https://github.com/ncachanosky/research/blob/master/Economic%20Series/'
file = r'Resumen%20Estadistico%20-%20Internacional.xlsx?raw=true'
IO   = path + file
sheet = 'DATA'

data = pd.read_excel(IO, sheet_name = sheet, usecols="A:C, N", skiprows=2, nrows=12648, engine='openpyxl') # Be patient...
data = data.dropna()

In [6]:
"|CHECK DATA|"
data.columns = ['YEAR', 'ISO CODE', 'COUNTRY', 'INV']

In [7]:
data.tail()

       YEAR ISO CODE    COUNTRY        INV
12612  2020      URY    Uruguay  16.355604
12615  2020      CAN     Canada  23.003401
12620  2020      AUS  Australia  22.515888
12624  2020      FJI       Fiji  15.861421
12646  2020      VUT    Vanuatu  33.562113

In [8]:
ARG = data.loc[data["COUNTRY"]=="Argentina",:]
BRA = data.loc[data["COUNTRY"]=="Brazil",:]
CHI = data.loc[data["COUNTRY"]=="Chile",:]
PAR = data.loc[data["COUNTRY"]=="Paraguay",:]
PER = data.loc[data["COUNTRY"]=="Peru",:]
MEX = data.loc[data["COUNTRY"]=="Mexico",:]

In [21]:
cds_arg = ColumnDataSource(ARG)
cds_bra = ColumnDataSource(BRA)
cds_chi = ColumnDataSource(CHI)
cds_par = ColumnDataSource(PAR)
cds_per = ColumnDataSource(PER)
cds_mex = ColumnDataSource(MEX)

#BUILD FIGURE
p = figure(title = "EL HUB ECONÓMICO | FORMACIÓN BURTA DE CAPITAL FIJO (% PBI): PAÍSES SELECTOS",
           x_axis_label = "Año", 
           plot_height  = 400,
           plot_width   = 700)

p.toolbar_location = "right"
p.toolbar.autohide = True
p1 = p.line("YEAR", "INV", color="black" , line_alpha=0.75, width=2, legend_label="Argentina", muted_alpha=0.20, source=cds_arg)
p2 = p.line("YEAR", "INV", color="green" , line_alpha=0.50, width=2, legend_label="Brasil"   , muted_alpha=0.20, source=cds_bra)
p3 = p.line("YEAR", "INV", color="red"   , line_alpha=0.50, width=2, legend_label="Chile"    , muted_alpha=0.20, source=cds_chi)
p4 = p.line("YEAR", "INV", color="blue"  , line_alpha=0.50, width=2, legend_label="Paraguay" , muted_alpha=0.20, source=cds_par)
p5 = p.line("YEAR", "INV", color="purple", line_alpha=0.50, width=2, legend_label="Perú"     , muted_alpha=0.20, source=cds_per)
p6 = p.line("YEAR", "INV", color="olive" , line_alpha=0.50, width=2, legend_label="Méjico"   , muted_alpha=0.20, source=cds_mex)

p.legend.location     = "top_right"
p.legend.orientation  = "horizontal"
p.legend.click_policy = "mute"
show(p)

In [ ]:
"|EXPORT .PNG FILE|"

export_png(p, filename="INV_Argentina.png")

In [ ]:
"|# CREATE HTML FILE|"

output_file(filename="INV_Comparado.html", title="INV Comparado (%PBI)")
save(p)

In [22]:
"|CREATE JSON FILE|"
import json
import bokeh.embed

from bokeh.embed import json_item

j = json.dumps(json_item(p, "INV_Comparado"))
with open("01.09_INV_Comparado.json", "w") as fp:
    json.dump(j, fp)